body {
  background-color: #FEF2D8;
}

.angular-google-map-container {
  position:absolute;
  top:0;
  bottom:0;
  height: 100%;
  width: 100%;
  z-index: 0;
}


.topNav {
  position:absolute;
  height: 47px;
  width: 100%;
  background-color:#FEF2D8;
  top:0;
  bottom:0;
  z-index: 1
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

.content {
  text-align: center;
}

.page-header {
  font-size: 18pt;
  color: #03606B;
  font-family: 'Lato';
  font-weight: bold;
  margin: 35px 0 10px;
}


.title {
  position: absolute;
  top:20%;
  left: 8%;
  color: #03606B;
  font-family: 'Lato';
  font-size: 21px;
  text-align: center;
}


.nav-buttons {
  height:46.8px;
  width:238px;
  float:right;
  box-sizing: border-box;
  background-color: rgb(242, 141, 122);
  line-height: 3;
  text-align: center;
  font-family: 'Lato';
  color:#FEF2D8;
}
.nav-buttons:hover:not(.current){
  background-color: rgb(231, 133, 114);
}

.current {
  background-color: rgb(219, 90, 85);
}

.page-subheader {
  font-size: 16pt;
  display: block;
}

.loginbutton {
  margin-top: 25px
}
.description{
  font-family: 'Lato';
  font-size: 14px;
}
