body {
  background-color: #FEF2D8;
}

.angular-google-map-container {
  position: absolute;
  top: 47px;
  bottom: 0;
  height: 88%;
  width: 100%;
  z-index: 0;
}



@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

.content { 
  text-align: center;
}

.page-header {
  font-size: 18pt;
  color: #03606B;
  font-family: 'Lato';
  font-weight: bold;
  margin: 35px 0 10px;
}


.title {
  position: absolute;
  top:20%;
  left: 8%;
  color: #03606B;
  font-family: 'Lato';
  font-size: 21px;
  text-align: center;
}

.top-nav {
  position:absolute;
  height: 47px;
  width: 100%;
  background-color:#FEF2D8;
  top:0;
  bottom:0;
  z-index: 1
}

.form-control {
  width: 80%;
}

.inbar {
  margin-top: 5px;
  margin-left:-110px;
}

.bottom-nav {
  position:absolute;
  height: 47px;
  width: 100%;
  background-color:#FEF2D8;
  bottom:0;
  z-index: 1
}

.top-nav-buttons {
  height:46.8px;
  width:238px;
  float:right;
  background-color: rgb(242, 141, 122);
  line-height: 3;
  text-align: center;
  font-family: 'Lato';
  color:#FEF2D8;
}
.nav-buttons:hover:not(.current){
  background-color: rgb(231, 133, 114);
}

.signout {
  margin: 10px 0px 11px 7px;
}


.current {
  background-color: rgb(219, 90, 85);
}

.page-subheader {
  font-size: 16pt;
  display: block;
}

.bottom-nav-buttons {
  height: 35px;
  width: 156px;
  float: right;
  background-color: #6AA8A5;

  line-height: 2.5;
  text-align: center;
  font-family: 'Lato';
  color: #FEF2D8;
  margin: 4px 4px 0px 0px;
}

.bottom-nav-buttons:hover {
  background-color: #137C77;
}

.loginbutton {
  margin-top: 25px
}
.description{
  font-family: 'Lato';
  font-size: 14px;
}
