.angular-google-map-container {
  height: 800px;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

.content {
  text-align: center;
}

.page-header {
  text-align: center;
  color: #03606B;
  font-family: 'Lato'; 
  margin: 60px 0 10px;
}

.loginbutton {
  margin-top: 25px
}
.description{
  font-family: 'Lato';
  font-size: 14px;
}
body {
  background-color: #FEF2D8;
}